.body{
  height: 100vh;
  background-image: url('../../Assets/Arcade.jpg');
  background-size: contain;
  overflow: hidden;
}

.nav{
  border: solid 1px red;
  display: flex;
  height: 10%;
}

.main {
  margin-top: 3%;
  overflow: scroll;
  height: 100%;
}

