/* .body{
  height: 100vh;
  background-image: url('../../Assets/Arcade.jpg');
  background-size: contain;
  overflow: hidden;
} */



.main {
  margin-top: 3%;
  height: 100%;
  overflow: scroll;
}

