.body{
  height: 100vh;
  background-image: url('../../Assets/Arcade.jpg');
  background-size: contain;
  overflow: hidden;
}

.nav{
  border: solid 1px red;
  display: flex;
  height: 10%;
}

.nav > h1 {
  justify-self: flex-end;
  align-self: center;
  color: whitesmoke;
}

.main {
  margin-top: 3%;
}

