.cover-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2ch;
  overflow-y: auto;
}

.add-statement {
  color: rgb(85, 255, 0);
  text-shadow: 1px 1px red;
}

.add-some-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42 42 42 / 75%);
  padding: 1%;
}