.cover, .description, .tracks {
  height: 70%;
  background-color: rgba(130, 130, 130, 0.7);
  border: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
  color: rgb(85, 255, 0);
  text-shadow: 1px 1px red;
}

.add-playlist-btn {
  border: solid 2px red;
  border-radius: 10px;
  background-color: #55ff00;
  color: red;
}

.add-playlist-btn:hover {
  transform: scale(1.3);
  border: solid 2px #55ff00;
  border-radius: 10px;
  background-color: red;
  color: #55ff00;
}