

/* .home-button {
  width: 75%;
}  */

a:hover {
  transform: scale(1.05);
}

.vibrate-2:hover {
	-webkit-animation: vibrate-2 0.3s linear infinite both;
	        animation: vibrate-2 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


@media screen and (min-width: 53em) {
  .nav-btns {
    width: 25%;
    display: flex;
    justify-content: space-around;
  }

  .page-title {
  align-self: center;
  color: whitesmoke;
  justify-self: center;
  font-size: xx-large;
  text-shadow: 1px 1px purple;
  white-space: nowrap;
  }
}

@media screen and (max-width: 52em) {
  .nav-btns {
    font-size: small;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .page-title {
  align-self: center;
  color: whitesmoke;
  justify-self: center;
  font-size: x-large;
  text-shadow: 1px 1px purple;
  white-space: nowrap;
  }
}