

html {
  font-family: 'Arvo', serif;
}

#root {
  background-color: rgba(0,0,0,.5);
  height: 100vh;
}

/* .App {
  height: 100vh;
  background-image: url('./Assets/Arcade.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
} */

body {
  height: 100vh;
  background-image: url('./Assets/Arcade.jpg');
  background-size: contain;
  overflow: scroll;
}

.nav{
  display: flex;
  height: 10%;
  justify-content: space-between;
  background-color: #000;
  padding: 2%;
}