

html {
  font-family: 'Arvo', serif;
}

body {
  height: 100vh;
  background-image: url('./Assets/Arcade.jpg');
  background-size: contain;
  overflow: scroll;
}

.nav{
  display: flex;
  height: 10%;
  justify-content: flex-end;
}